name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check formatting and lint
        uses: astral-sh/ruff-action@v3
        with:
          args: "check --output-format=github ."
      - name: Check formatting
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check ."

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          version: "latest"

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: |
          uv run pytest | tee pytest_output.txt
          echo "## Coverage Summary" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          # Extract only the coverage section from the output
          sed -n '/coverage: platform/,/TOTAL/p' pytest_output.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
